@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @*<li data-target="#myCarousel" data-slide-to="1"></li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Cloud SaaS Apps</h2>
        <ul>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on">Single Sign-on to Applications</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/add-gallery-app">Add a gallery app to your Azure AD</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign-on-non-gallery-applications">Configure SAML SSO</a></li>
            <li><a href="https://samltoolkit.azurewebsites.net/">SAML Toolkit for Azure AD</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/how-provisioning-works">Provisioning Service</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Azure AD B2C</h2>
        <ul>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview">About Azure AD B2C</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/technical-overview">Technical and feature overview</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-overview">User Accounts</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oidc">The OIDC Protocol</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant">Create a B2C Tenant</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=applications">Register OIDC Application</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows">Create User Flow</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-oidc-azure-active-directory">IdP: Azure AD (Single tenant)</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-msa-app">IdP: Microosft Account</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-li-app">IdP: LinkedIn</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-custom-attr">Define Custom Attributes (built-in flows)</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet?tabs=applications">Using Azure AD Graph API</a></li>            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Custom Policies</h2>
        <ul>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview-custom">Custom Policies</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom?tabs=applications">Getting Started with Custom Policies</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-rest-api-netfw">RESTful API call</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-create-custom-attributes-profile-edit-custom">Custom attributes</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-trustframeworks-defined-ief-custom">Trust framework definition</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/claim-resolver-overview">Claim Resolvers</a></li>
        </ul>
    </div>
</div>
