<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Challenge <span class="badge badge-success">1</span></h4>
    <hr />
    <h4 class="alert-heading">Identity Provider</h4>
    <p>To go through your challenges you have to add <strong>at least one</strong> external Identity Provider to your B2C tenant.</p>
    <p>It is advisable to use your newly created Azure AD Enterprise tenant as IdP.</p>
    <p>It is desirable to add one social IdP which is not Microsoft Account</p>
    <hr />
    <h4 class="alert-heading">Success criteria:</h4>
    <ul>
        <li>You demonstrate successfull login using at least one local account and one social IdP.</li>
    </ul>
</div>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Challenge <span class="badge badge-success">2</span></h4>
    <hr />
    <h4 class="alert-heading">Custom Admin</h4>
    <p>To complete challenge "Custom Admin" you have to present a custom attribute (claim) with name <strong>extension_CustomAdmin</strong></p>
    <p>
        And value one of the:
        <ul>
            <li>Anton</li>
            <li>Christer</li>
            <li>John</li>
        </ul>
    </p>
    
    <hr />
    <h4 class="alert-heading">Success criteria:</h4>
    <ul>
        <li>You have to complete this challenge using built-in policy.</li>
        <li>End users must not be able to write the value of that attribute.</li>
        <li>You will need to use Graph API to populate attribute value.</li>
        <li>You must make sure that this value is present regardless of the chosen Identity Provider.</li>
        <li><a asp-controller="Challenge" asp-action="CustomAdmin" class="btn btn-primary" role="button">This part</a> of the site is successfully loaded</li>
    </ul>
</div>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Challenge <span class="badge badge-success">3</span></h4>
    <hr />
    <h4 class="alert-heading">REST Admin</h4>
    <p>To complete challenge "REST Admin" you have to present a claim obtained from REST service.</p>
    <p>The name of the claim must be <strong>RestAdmin</strong>. The value will be returned from the REST service</p>
    <p>
        Use the following REST endpoint in your custom (IEF) policy:
        <ul>
            <li>https://b2c-preday-rest.azurewebsites.net/api/RestAction?code=cDvT2ioatDtetOjDvU//uBzvD8IR363y3lyDJIWriKw840rWnaPQMg==</li>
        </ul>
    </p>
    <p>This service is protected by TLS mutual authentication. Contact your proctor to obtain the client certificate needed for authentication to the service.</p>
    <p>The service expects an <strong>email</strong> input parameter and returns <strong>RestAdmin</strong> claim with required value to unlock your challenge.</p>

    <hr />
    <h4 class="alert-heading">Success criteria:</h4>
    <ul>
        <li>You have a custom policy which uses REST API to call external URL</li>
        <li><a asp-controller="Challenge" asp-action="RestAdmin" class="btn btn-primary" role="button">This part</a> of the site is successfully loaded</li>
    </ul>

</div>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Challenge <span class="badge badge-success">4</span> (optional)</h4>
    <hr />
    <h4 class="alert-heading">Advanced Custom Policy</h4>
    <p>To complete this optional challenge you have to extend your custom policy to include the custom attributes already configured in Challenge "Admin"</p>
    <hr />
    <h4 class="alert-heading">Success criteria:</h4>
    <ul>
        <li>You have a custom policy which uses REST API to call external URL</li>
        <li>You have a custom policy which delcares custom attribute</li>
        <li><a asp-controller="Challenge" asp-action="SuperAdmin" class="btn btn-primary" role="button">This</a> part of the website is successfully loaded using a single custom policy.</li>
    </ul>
</div>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Challenge <span class="badge badge-success">5</span> (stretch)</h4>
    <hr />
    <h4 class="alert-heading">Web API</h4>
    <p>For this challenge you will need to:</p>
    <ul>
        <li>Deploy an Web API</li>
        <li>Protect that Web API using your B2C Tenant</li>
        <li>Grant access to the Web API for your current Web Application</li>
        <li>Configure your current Web Application with the API's scopes and URL</li>
    </ul>
    <hr>
    <p class="mb-0">More information and success criteria are located under <a asp-area="" asp-controller="Home" asp-action="Api">API</a></p>
</div>