@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Not quite there yet!</h4>
    <p>Your request could not be authorized!</p>
    <p>Check out the challenges descriptions bellow to understand more.</p>
    <p>You can also talk to your proctor about any challenge.</p>
</div>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Review the challenges again</h4>
    <p>Go to <a class="btn btn-primary" asp-controller="Home" asp-action="Challenges">Challenges</a> and review the requirements to completing your tasks.</p>
</div>
